<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folders</title>
    <!-- Подключаем Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Все папки</h1>

        <!-- Форма для создания новой папки -->
        <form action="{{ url_for('folders') }}" method="POST" class="mb-4">
            <input type="text" name="folder_name" placeholder="Название новой папки" required>
            <button type="submit">Создать папку</button>
        </form>


        <!-- Блок для отображения папок -->
        <div class="row">
            {% for folder in folders %}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ folder }}</h5>
                            <a href="{{ url_for('folder_contents', folder_name=folder) }}" class="btn btn-primary">Открыть</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Подключаем Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
